@media screen and (max-width: 990px) {
    
    .hamburger{
        display: block;
    }

    .content-wrapper{
        justify-content: space-between;
    }

    .nav{
        position: fixed;
        right: -100%;
    }

    .floating-shape__4{
        width: 200rem;
    }

    
.new-popup::before{
    display: block;
    content: 'New';
    position: absolute;
    background-color: var(--red);
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 0.2rem 0.5rem;
    top: -0.6rem;
    left: 18rem;
    width: 2rem;
}

.new-popup::after{
    display: block;
    content: '';
    position: absolute;
    background-color: var(--red);
    top: 0.8rem;
    left: 18rem;
    width: 0.5rem;
    height: 0.5rem;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.nav{
    justify-content: flex-start;
}

    .floating-shape__4::before{
        position: absolute;
        content: '';
        right: 0;
        top: -20px;
        height: 300px;
        left: 0;
        width: 100%;
        background-image: url(img/b-shape1.png);
    }

    .outer-wrapper{
        align-items: center;
    }

    .content-wrapper{
        flex-direction: column;
        align-items: center;
    }

    header.outer-wrapper{
        align-items: center;
    }

    header .content-wrapper{
        flex-direction: row;
        align-items: center;
    }

    .first-hero-section{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 10rem;
    }

    .hero-section--laptop-photo{
        position: relative;
        max-width: 100%;
    }

    .hero-section--content{
        width: 100%;
    }

    .mini-header{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-section--laptop-photo{
        right: 0;
    }

    .nav-mobile{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        min-height: 100%;
        flex-basis: 100%;
        width: 40%;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 5rem;
        padding-left: 0;
        overflow-y: scroll;
    }

    .nav--item{
        border-bottom: 1px solid var(--lightgray);
        width: 100%;
        padding: 0;
        padding-left: 1rem;
    }

    .dropdown:hover > .dropdown-menu{
        position: initial;
        flex-direction: column;
        left: 0;
    }

    .services-tile-section{
        justify-content: center;
    }

    .service-tile{
        width: 90%;
    }

    .service-tile--content{
        width: 100%;
    }

    .service-tile .backdrop{
        width: 100%;
    }

    .hero-section--laptop-photo img{
        position: initial;
        width: 100%;
    }

    .text-with-image-sections-wrapper{
        align-items: center;
    }

    .text-with-image--image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-with-image{
        flex-direction: column;
    }

    .text-with-image__reverse{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 767px) {
    .service-tile{
        width: 100%;
    }
}